body {
  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #222;
  font-family: Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 17px;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  line-height: 20px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #222;
}

a:hover {
  opacity: .5;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 25px;
}

.cv, .about {
  width: 50%;
}

.about {
  max-width: 600px;
}

.education, .contact {
  display: block;
  margin-top: 40px;
}

.education > .title {
  margin-bottom: 17px;
}

.contact > .title {
  margin-bottom: 17px;
}

.title {
  margin-bottom: 40px;
}

.contact-mobile, .education-mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .cv, .about, .contact-mobile {
    width: 100%;
    margin-bottom: 40px;
  }

  .contact-mobile, .education-mobile {
    display: block;
  }

  .education {
    display: none;
  }

  .title {
    margin-bottom: 20px;
  }

  .bottom {
    margin: 0 25px 25px;
  }
}
