:root {
    --border: none;
  }

.flex-content-mobile {
    display: none;
}

* {
    font-family: Helvetica;
}

body {
    font-size: 100%;
    overflow-x: hidden;
}

h1 {
    font-size: 3rem;
    cursor:default;
  }


ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;  
    display: block;
    margin-bottom: 4%;
}

span {
    padding: 0;
    margin: 0;
    margin-top: 0vh;
    font-size: 12px;
    font-weight: 40px;
    text-align: center;
}

a:hover {
    color:rgb(173, 173, 197);
    transition: ease-in-out .2s;
}

.flex-content-desktop {
    width: 90%;
    display: flex;
    justify-content: center;
    margin: auto;
    /* padding: 3%; */
    border: var(--border);
}

.wrapper {
    width: 33%;
    margin: 4rem;
}

.nav1 , .nav2 {
    position: fixed;
    border: var(--border);
}

.nav1 {
    margin-left: 0rem;
}

.nav2 {
    margin-left: 0rem;
}

.pageContent {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* margin-top: 3%; */
    border: var(--border); 
    line-height: 1.5;
}

.pageContent a {
    text-decoration: underline;
    display: inline;
}

.wrapper.central {
    width: 100%;
    /* margin:auto; */
    border: var(--border);
}
/*  ABOUT */
.aboutPage {
    width:80%;
    justify-content: center;
    text-align: left;
    align-items: center;
    margin-top: 10%;
    border: var(--border);
}
.aboutPage p {
    font-size: 14px;
    text-align: left !important;
}
.aboutPage h1 {
    font-size: 16px;
    text-decoration: underline;
}



/* CONTACT */

.contactPage {
    width:100%;
    justify-content: center;
    text-align: center;
    /* align-items: center; */
    margin-top: 60%;
    border: var(--border);
}


.commercialPage, 
.filmsPage, 
.productPage,
.artPage {

    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: left;
    margin-top: 8vh;

}

.panel-center {
    width: 33%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 33%;
    margin-top: 0vmin;
    margin-left: 0vmin;
    background: #4040403a;
  }
/* __________________________________________ */

iframe {
    top:0;
    left:0;
    aspect-ratio: 16/9;
    margin-top: 3rem;
    width: 100%;
}

.pic-wrapper {
    width: 100%;
    margin : 2rem;
    /* border: red solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.vertical-image-container {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* margin: auto; */
    margin-top: 2vh;
}

.vertical-image-description {
    margin-top: 1rem;
}

.vertical-image {
    top:0;
    left:0;
    aspect-ratio: 9/16;
    margin:0.5%;
    width: 50%;
    height: auto;
    z-index: 0;
    object-fit: contain;
}

.horizontal-image-container {
    display: flex;
    flex-direction: column;
}

.horizontal-image-description {
    margin-top: 0px;
}

.horizontal-image {
    margin-top: 1%;
    object-fit: contain;
    width: 100%;
    height: auto;
   }

.abtImg {
    margin-top: 10%;
    width: 75%;
    height: auto;
}

.pageContent p {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

.nameLink {
    font-weight:500;
    text-decoration: underline;
    display: inline;
}


